.faq {
    padding: 5.6vw;

    h2 {
        text-align: center;
        margin-top: 24px;
    }

    &__questions {

        &__item {
            background-color: #13151d;
            margin-bottom: 16px;

            &__question {
                color: #fff;
                font-size: 20px;
                display: block;
                cursor: pointer;
                position: relative;
                padding: 24px;
                padding-right: 60px;

                &::after {
                    content: '+';
                    position: absolute;
                    top: 0;
                    right: 24px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    font-size: 40px;
                    transition: transform 0.3s ease;
                }
            }

            &__answer {
                max-height: 0;
                overflow: hidden;
                padding: 0 24px;
                transition: max-height 0.3s ease,padding 0.3s ease;

                p {
                    margin-bottom: 24px;
                }
            }

            &--is-open {
                .faq__questions__item__question::after {
                    content: '-';
                    transform: rotate(180deg);
                }

                .faq__questions__item__answer {
                    max-height: 500px;
                    padding-bottom: 24px;
                    
                }
            }
        }
    }
}