@use 'variaveis';

.footer {
    padding: 26px 8px;

    &__container {
        max-width: 1024px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 20px;
    }


    &__logo {
        width: 80px;
        margin: 0 auto 10px;
    }

    &__links {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        margin: 0;

        &__item {
            margin: 0 5px;


            a {
                text-decoration: none;
                padding: 8px 16px;
                display: inline-block;
            }
        }
    }

    p {
        margin-bottom: 2px;
        color: variaveis.$corTextoSecundario;
    }
}

.language-selector {
    display: flex;
    align-items: center;

    img {
        height: 18px;
        width: 18px;
        display: inline-block
    }

    select {
        background-color: transparent;
        border: none;
        color: variaveis.$corTextoPrincipal;
        height: 38px;

        &:hover {
            color: variaveis.$corTextoSecundario;
        }
        option {
            color: variaveis.$corDeFundo;
        }
    }
}