@use 'variaveis';

.hero {
    padding: 5.6vw;
    min-height: 80vh;
    background-image: url('../images/hero_desktop.jpeg');
    background-size: 80%; // ADICIONE ESTA LINHA
    background-position: center; // ADICIONE ESTA LINHA
    background-repeat: no-repeat; // ADICIONE ESTA LINHA
    text-align: center;

    @media (max-width:768px) {
        background-image: url(../images/hero_celular.jpeg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top center;
        margin-top: -55px;
        display: block;
        padding-top: 80vw;
        min-width: auto;
        position: relative;
    }

    .button {
        margin-top: 2vw;
        margin-bottom: 8px;
    }


    &__content {
        max-width: 640px;
        margin: 0;

        @media(max-width:768px) {
            position: relative;
            z-index: 1;
        }

        &__branding {
            max-width: 320px;
            margin: 0 auto 38px;

            @media (max-width:768px) {
                max-width: 180px;
            }
        }

        .title--small {
            margin-bottom: 64px;

            @media(max-width: 768px) {
                margin-bottom: 32px;
            }
        }

        p {
            margin-bottom: 20px;

            &:last-child {
                margin-top: 80px;

                @media(max-width:768px) {
                    margin-top: 40px;
                }
            }
        }

        &__combos {
            display: flex;
            justify-content: space-between;

            @media(max-width:768px) {
                display: block;
            }

            &__combo {
                width: calc(50% - 12px);

                @media(max-width:768px) {
                    width: 100%;
                    margin-bottom: 24px;
                }

                img {
                    max-height: 60px;
                }

                span {
                    font-size: 14px;
                    opacity: 0.8;
                }
            }
        }
    }
}